@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1
body, html
	font-size: 10px
body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%


body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
h1,h2,h3
	color: orange

.img-responsive
	display: block
	max-width: 100%
	height: auto
.top-line--wrapper
	min-height: 40px
	width: 100%
.under-top-line--logo
	width: 100%
	min-height: 40px
	background-repeat: no-repeat
	background-position: center center
	background-image: url('../img/logo/logo.png')
	background-size: 30%
	margin-top: 20px
.logo
	min-height: 120px
	width: 270px
	background-image: url('../img/logo/logo.png')
	background-size: cover
	margin-top: 30px

.bmn.navbar
	&.navbar-inverse
		background-image: url('../img/backgrounds/header_background.png')
		background-size: cover
		li>a
			color: $menu-link
	&.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover,
	&.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover,
	&.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover,
	&.navbar-inverse .navbar-toggle
		background-color: $dark-menu
	.dropdown-menu li
		a
			color: $menu-dropdown-text
.header-wrapper
	.main-header
		margin-top: 50px
		margin-bottom: 30px
		padding-bottom: 10px
		h1
			border-bottom: 1px solid $heading-border
			padding-bottom: 5px

	margin-bottom: 20px

.table-heading
	margin-top: 40px
h3
	margin-bottom: 25px !important
	padding-bottom: 10px
	border-bottom: 1px solid $heading-border

.material-box
	border: 1px solid grey

.bmn-footer
	min-height: 40px
	background-color: $footer-color
	color: $footer-text-color
@import "media" // Всегда в конце
